---
import BaseLayout from '../layouts/BaseLayout.astro';
import Icon from '../components/Icon.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="A propos | Steve Saunier" description="Histoire Développeur Steve Saunier">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Un peu plus à mon sujet"
				tagline="Sur cette page, vous en saurez plus sur qui je suis et comment j'ai découvert le développement Web."
			>
				<img
					src="/assets/Aura_Web.png"
					alt="Logo d'Aura Web, micro-entreprise de Steve Saunier"
				/>
			</Hero>

			<section>
				<br>
				
				<h2 class="section-title">
					<Icon icon="list" color="var(--accent-regular)" size="2.5rem" gradient />
						Mon Histoire
				</h2>
				<div class="content">
					<p>
						Aujourd'hui développeur web freelance spécialisé sur Symfony au sein de ma micro-entreprise Aura Web, et actuellement en poste en parallèle en tant que Conducteur d'installation au sein de la Société Laitière des Hauts de Savoie, faisant partie de la division <a href="https://www.linkedin.com/company/fromageries-pochat-fils/">Pochat et Fils</a>, j'ai entrepris une reconversion professionnel dans le métier de développeur Web avec succès.
					</p>
					<br>
					<br>
					<p>
						Récemment diplômé du Titre Professionel de niveau 5 "Développeur Web & Web Mobile" grâce à l'école <a href="https://oclock.io/">O'clock</a>, ainsi que certifié par l'organisme <a href="https://www.opquast.com/">Opquast</a> avec un score de 790/1000 (Confirmé) sur la maîtrise de la qualité en projet Web, je suis passionné par ce nouveau métier que j'ai appris à connaître et à aimer, et continue de me former chaque jour un peu plus. 
					</p>
					<br>
					<br>
					<p>
						J'ai découvert ce métier grâce à l'agence de Webmarketing <a href="https://www.linkedin.com/company/agence-canefora/about/">CANEFORA</a>, sur le CMS Wordpress. Depuis lors je n'ai jamais cessé d'être enthousiaste à l'idée d'exercer le métier de développeur.
					</p>
					<br>
					<br>
					<p>
						De formation commerciale (BTS NRC), le SEO me parle énormément. Je suis extrêmement habitué à m'adapter à de nouveaux environnements et situations, qu'il s'agisse de différents métiers, langages, ou de nouvelles méthodes. 
						J'ai une très grande affinité avec le framework Symphony et le langage de programmation PHP, les OS Windows et Linux, mais je suis ouvert (et même intéressé) à d'autres langages et outils de travail. 
						Pour preuve : ce site est généré par le CMS Astro, combiné au framework React, utilise du JavaScript et du TypeScript.
					</p>
					<br>
					<br>
					<p>
						Je souhaite aujourd'hui mettre à profit ces qualités, expériences et connaissances nouvellement apprises pour relever de nouveaux challenges, et démarrer une carrière de longue durée dans ce domaine si passionnant qu'est le développement Web.
					</p>
					<p></p>
				</div>
			</section>
			<section>
				<h2 class="section-title">
					<Icon icon="list" color="var(--accent-regular)" size="2.5rem" gradient />
						Diplômes
					</h2>
				<div class="content">
					<p>Corporis voluptates tenetur laudantium.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">
					<Icon icon="list" color="var(--accent-regular)" size="2.5rem" gradient />
						Compétences
				</h2>
				<div class="content">
					<p>officia unde omnis</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
